In [1]:
import SciServer.CasJobs as cj

In [2]:
query = '''select GalaxyID,
        lastProgenitorId
into MyDB.Bruno2
   from MRscPlanck1
  where redshift >3 and stellarmass/0.673>10.
    and Sfr/(stellarmass*1.e10/0.673)< 1.e-10'''

DB = 'Henriques2015a'
jobId = cj.submitJob(query,DB)

cj.waitForJob(jobId)

Waiting...Waiting...Waiting...Waiting...Waiting...Done!

{'AutoComplete': 0,
 'Created_Table': None,
 'Estimate': 500,
 'HostIP': 'Henriques2015a_',
 'JobID': 33820523,
 'Message': "There is already an object named 'Bruno2' in the database.",
 'ModifiedQuery': 'select GalaxyID,\n        lastProgenitorId\n\n   from MRscPlanck1\n  where redshift >3 and stellarmass/0.673>10.\n    and Sfr/(stellarmass*1.e10/0.673)< 1.e-10/*CASJOBS_INTO_TABLE:[sdss3q].mydb_999687452.webuser.Bruno2*/',
 'OutputLoc': '',
 'OutputType': 'QUERY',
 'Params': '',
 'Query': 'select GalaxyID,\n        lastProgenitorId\ninto MyDB.Bruno2\n   from MRscPlanck1\n  where redshift >3 and stellarmass/0.673>10.\n    and Sfr/(stellarmass*1.e10/0.673)< 1.e-10',
 'Rows': None,
 'SendEmail': 0,
 'Status': 4,
 'Target': 'Henriques2015a',
 'TaskName': 'Compute.SciScript-Python.CasJobs.submitJob',
 'TimeEnd': '2017-11-21T10:31:52.473',
 'TimeStart': '2017-11-21T10:31:46.943',
 'TimeSubmit': '2017-11-21T10:31:46.503',
 'WebServicesID': 999687452}

In [3]:
df=cj.executeQuery("select * from Bruno1","MyDB")
df

           GalaxyID  lastProgenitorId
0   309001075000038   309001075000188
1   421006369000040   421006369000218
2   421006369000038   421006369000324
3   476001178002580   476001178002763
4   277020306005762   277020306005944
5   172008358000084   172008358000419
6   226000085016174   226000085016319
7   353014409000038   353014409000191
8   285000066000038   285000066000152
9   421006369000039   421006369000272
10  191000123000038   191000123000169
11  194000043000038   194000043000206
12  140005829341238   140005829341557
13  140005829341239   140005829341499
14  340000062000038   340000062000139
15  168008668004626   168008668004732
16  448000100000038   448000100000199