In [35]:
from importlib import reload

import MillenniumSQL

reload(MillenniumSQL)

conn = connect("bhenriques", password="fPMitZK")

In [ ]:
query = 'select top 100 stellarmass from Henriques2015a_new..MRIIscPlanck1'
query = 'select count(*) as count from Henriques2015a..MRIIscPlanck1 where SnapNum=40'

query = '''with gals_z0 as 
           (
             select top 10 GalaxyID, LastprogenitorID 
               from Henriques2015a_new..MRIIscPlanck1 
              where SnapNum=40 and galaxyID<1000000000
           )
           select b.Snapnum as Snapnum
             from gals_z0 a, 
                  Henriques2015a_new..MRIIscPlanck1 b
                  where b.galaxyID between a.galaxyid and a.LastprogenitorID'''

result = execute_query(conn, query)
data = [x[0] for x in result]
print(np.max(data))

In [36]:
query = '''select .5*(.5+floor((stellarmass/0.673)/.5)) as mass,
                  count(*) as count
             from Henriques2015a_new..MRIIscPlanck1
            where snapnum=62 and stellarmass>0.1
         group by floor((stellarmass/0.673)/.5)
         order by 1'''

result = execute_query(conn, query)
#data = [x[0] for x in result]
print(result.dtype.names)

('mass', 'count')

In [38]:
print(result['mass']*1.e10)

[2.500e+09 7.500e+09 1.250e+10 1.750e+10 2.250e+10 2.750e+10 3.250e+10
 3.750e+10 4.250e+10 4.750e+10 5.250e+10 5.750e+10 6.250e+10 6.750e+10
 7.250e+10 7.750e+10 8.250e+10 8.750e+10 9.250e+10 9.750e+10 1.025e+11
 1.075e+11 1.125e+11 1.175e+11 1.225e+11 1.275e+11 1.325e+11 1.375e+11
 1.425e+11 1.475e+11 1.525e+11 1.575e+11 1.625e+11 1.675e+11 1.725e+11
 1.825e+11 1.875e+11 1.925e+11 2.025e+11 2.075e+11 2.175e+11 2.375e+11
 2.425e+11 2.475e+11 2.525e+11 2.575e+11 2.625e+11 2.675e+11 2.725e+11
 3.375e+11 3.425e+11 4.525e+11]